*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
gradle-wrapper.jar
/captures/
/gradlew
/gradlew.bat
GeneratedPluginRegistrant.java
local.properties
Gemfile
build
app/build
app/release
app/.cxx
fastlane/Appfile